In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../SchoolDistrictAnalysis/schools_complete.csv"
student_data_to_load = "../SchoolDistrictAnalysis/students_complete.csv"

In [2]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
# Calculate the total number of schools
uniqueschooldata = school_data["school_name"].unique() #gave me the list of all schools individually and didn't include repeat mentions.


countschooldata = school_data["school_name"].value_counts()
countschooldata
len(['Huang High School', 'Figueroa High School', 'Shelton High School',
  'Hernandez High School', 'Griffin High School', 'Wilson High School',
  'Cabrera High School', 'Bailey High School', 'Holden High School',
  'Pena High School', 'Wright High School', 'Rodriguez High School',
  'Johnson High School', 'Ford High School', 'Thomas High School'])

15

In [5]:
# Calculate the total number of students


countstudentdata = len(student_data["student_name"])
countstudentdata

39170

In [6]:
# Calculate the total budget
totalbudget = school_data["budget"].sum()
totalbudget

24649428

In [7]:
mathaverage = student_data["math_score"].mean()
mathaverage

78.98537145774827

In [8]:
rdaverage = student_data["reading_score"].mean()
rdaverage

81.87784018381414

In [9]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overallavgscore = (mathaverage + rdaverage)/2
overallavgscore

80.43160582078121

In [10]:
#Call the math and reading data and separate data to display 70 or greater scores and calc. into percents.
passmath = len(student_data[student_data["math_score"] >= 70])

percpassmath = (passmath/ countstudentdata)*100
percpassmath

74.9808526933878

In [11]:
#Percent passing Reading

passreading = len(student_data[student_data["reading_score"] >=70])
#passreading
percpassreading = (passreading/countstudentdata)*100
percpassreading

85.80546336482001

In [12]:
#createdf = { } to make the single rowed table displaying the above results
districtsummary = [{'Total Schools': 15,  'Total Students': 39170, 'Total Budget': 24649428, 'Avg. Math Score': 78.98, 'Avg. Reading Score': 81.87, '% Passing Math': 74.98, '% Passing Reading': 85.80, '% Overall Passing Rate': 80.43}]
#districtsummary
#Why doesn't this print the zero in the hundredths place of % Passing Reading?
dist= pd.DataFrame(districtsummary)
#Why is this in the order that it is? dist

dist = dist[['Total Schools', 'Total Students', 'Total Budget', 'Avg. Math Score', 'Avg. Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
dist

,Total Schools,Total Students,Total Budget,Avg. Math Score,Avg. Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.98,81.87,74.98,85.8,80.43

In [13]:
#school_data.head(15)

In [14]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:
# School Name, type, size, budget...
school_data.loc[:15, ["school_name", "type", "size", "budget"]]

              school_name      type  size   budget
0       Huang High School  District  2917  1910635
1    Figueroa High School  District  2949  1884411
2     Shelton High School   Charter  1761  1056600
3   Hernandez High School  District  4635  3022020
4     Griffin High School   Charter  1468   917500
5      Wilson High School   Charter  2283  1319574
6     Cabrera High School   Charter  1858  1081356
7      Bailey High School  District  4976  3124928
8      Holden High School   Charter   427   248087
9        Pena High School   Charter   962   585858
10     Wright High School   Charter  1800  1049400
11  Rodriguez High School  District  3999  2547363
12    Johnson High School  District  4761  3094650
13       Ford High School  District  2739  1763916
14     Thomas High School   Charter  1635  1043130

In [15]:
#Create a new column that calcs (and titles) the per school data and student budget for each school?
school_data['Per Student Budget'] = school_data['budget']/school_data['size']
school_data
#school_data['Avg. Math Score'] = school_data('math_score').mean()
#school_data['Avg. Reading Score']

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [16]:
# Calc per student budget: 
# Total Students
# Total School Budget

In [17]:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
student_data['Average Math Score'] = student_data['size']/student_data['math_score']
student_data
# avgrs = 
# Percentpmath = 
# Percentpread = 
# OverallPassRt = (Percentpmath + Percentpread)/2

# Create a dataframe to hold the above results
# SchoolSummarydf = pd.DataFrame

KeyError: 'size'

In [ ]:
#Add needed columns to contain the above data:

In [ ]:
# Sort and display the top five schools in overall passing rate
topoverall =   OverallPassRt.sort_values("Overall Passing Rate")
topoverall.head()

In [ ]:
#Sort and display the five worst-performing schools
worstperf =    OverallPassRt.sort_values("Overall Passing Rate")
worstperf.

In [ ]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
# Combine the series into a dataframe
# Optional: give the displayed data cleaner formatting

In [ ]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
# Combine the series into a dataframe
# Optional: give the displayed data cleaner formatting

In [ ]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a table that breaks down school performances based on School Size (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a table that breaks down school performances based on school type (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)